@import url(nullstyle.css);
@import url(https://fonts.googleapis.com/css?family=Rethink+Sans:regular,600,700,800&display=swap);
body{
    font-family: 'Rethink Sans', sans-serif;
}
.wrapper {
	overflow: hidden;
	 min-height: 100%;
	display: flex;
	flex-direction: column;
  }
.header {
    width: 100%;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    margin-block-start: 30px;
}
.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	&__link-phone {
		display: flex;
		color: #fff;
		background-color: #0A507A;
		border-radius: 30px;
		padding-inline: 10px;
		padding-block: 10px;
		align-items: center;
		flex-direction: row;
		img{
			margin-inline-end: 5px;
		}
	}
}
.menu {
	max-width: 600px;
    display: flex;
    justify-content: space-between;
	gap: 20px;
		&__link {
		color: #0A507A;
        font-weight: 700;
        font-size: 20px;
		gap: 20px;
		}
}
.content {
	flex: 1 1 auto;
}
.conteiner {
   
}
.block1 {
    width: 100%;
    height: 100%;
    
}

.title1 {
	width: 100%;
	margin-block-end: -350px;
}
.background{
	width: 100%;
	
}
.block1-subtitle {
}
.conteiner-boxs {
}
.box-one {

		&__quote {
		}
}
.box-two {

		&__title {
		}

		&__time {
		}

		&__subtitle {
		}

		&__image {
			width: 350px;
			height: 240px;
		}
}
.conteiner-buttons {
}
.social-network {
}
.butons {
}
.button1 {
}
.button2 {
}
.block2 {
}
.title-block2 {
}
.content-block2 {

		&__cubtitle {
		}

		&__title {
		}

		&__quote {
		}

		&__text {
		}

		&__image {
		}
}
.block2-box {

		&__cubtitle {
		}

		&__title {
		}

		&__text {
		}

		&__button {
		}

		&__circle {
		}
}
.block3 {

		&__image {
		}
}
.block4 {
}
.content-block4 {

		&__cubtitle {
		}

		&__title {
		}
}
.images {

		&__grup {
		}

		&__img {
		}

		&__text {
		}
}
.footer {

		&__top {
		}

		&__title {
		}

		&__img {
		}

		&__conteiner {
		}

		&__group {
		}

		&__cubtitle {
		}

		&__text {
		}

		&__social-network {
		}

		&__bottom-text {
		}
}
