@import url(nullstyle.css);
@import url(https://fonts.googleapis.com/css?family=Rethink+Sans:regular,600,700,800&display=swap);
body{
    font-family: Rethink Sans;
}
.header {
    width: 100%;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    margin-block-start: 30px;
}
.navigation {
   
}
.menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-inline: auto;
		&__link {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
		}
		&__link-phone {
            display: block;
            color: #fff;
            background-color: #0A507A;
            border-radius: 30px;
            padding: 10px;
            flex-direction: row-reverse;
            margin-inline-start: 250px;
            
		}
}
.content {
}
.conteiner {
    width: 1700px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}
.block1 {
    width: 100%;
    height: 100%;
    background: url("../img/background1.webp") center/cover no-repeat;
}
.background1 {
}
.title1 {
}
.block1-subtitle {
}
.conteiner-boxs {
}
.box-one {

		&__quote {
		}
}
.box-two {

		&__title {
		}

		&__time {
		}

		&__subtitle {
		}

		&__image {
		}
}
.conteiner-buttons {
}
.social-network {
}
.butons {
}
.button1 {
}
.button2 {
}
.block2 {
}
.title-block2 {
}
.content-block2 {

		&__cubtitle {
		}

		&__title {
		}

		&__quote {
		}

		&__text {
		}

		&__image {
		}
}
.block2-box {

		&__cubtitle {
		}

		&__title {
		}

		&__text {
		}

		&__button {
		}

		&__circle {
		}
}
.block3 {

		&__image {
		}
}
.block4 {
}
.content-block4 {

		&__cubtitle {
		}

		&__title {
		}
}
.images {

		&__grup {
		}

		&__img {
		}

		&__text {
		}
}
.footer {

		&__top {
		}

		&__title {
		}

		&__img {
		}

		&__conteiner {
		}

		&__group {
		}

		&__cubtitle {
		}

		&__text {
		}

		&__social-network {
		}

		&__bottom-text {
		}
}
