@import url(nullstyle.css);
@import url(https://fonts.googleapis.com/css?family=Rethink+Sans:regular,600,700,800&display=swap);
body{
    font-family: Rethink Sans sans-serif;
}
.header {
    width: 100%;
}
.navigation {
    width: 800px;
}
.menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
		&__link {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;

		}

		&__link-phone {
            display: block;
            color: #0A507A;
            border-radius: 30px;
            padding: 5px;
            flex-direction: row-reverse;
		}
}
.content {
}
.conteiner {
}
.block1 {
}
.background1 {
}
.title1 {
}
.block1-subtitle {
}
.conteiner-boxs {
}
.box-one {

		&__quote {
		}
}
.box-two {

		&__title {
		}

		&__time {
		}

		&__subtitle {
		}

		&__image {
		}
}
.conteiner-buttons {
}
.social-network {
}
.butons {
}
.button1 {
}
.button2 {
}
.block2 {
}
.title-block2 {
}
.content-block2 {

		&__cubtitle {
		}

		&__title {
		}

		&__quote {
		}

		&__text {
		}

		&__image {
		}
}
.block2-box {

		&__cubtitle {
		}

		&__title {
		}

		&__text {
		}

		&__button {
		}

		&__circle {
		}
}
.block3 {

		&__image {
		}
}
.block4 {
}
.content-block4 {

		&__cubtitle {
		}

		&__title {
		}
}
.images {

		&__grup {
		}

		&__img {
		}

		&__text {
		}
}
.footer {

		&__top {
		}

		&__title {
		}

		&__img {
		}

		&__conteiner {
		}

		&__group {
		}

		&__cubtitle {
		}

		&__text {
		}

		&__social-network {
		}

		&__bottom-text {
		}
}
