@import url(nullstyle.css);
@import url(https://fonts.googleapis.com/css?family=Rethink+Sans:regular,600,700,800&display=swap);
body {
  font-family: "Rethink Sans", serif;
  line-height: 1.3;
}

.wrapper {
  overflow: hidden;
  min-block-size: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  inline-size: 100%;
  padding-inline-start: 70px;
  padding-inline-end: 70px;
  margin-block-start: 30px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navigation__link-phone {
  inline-size: 187px;
  display: flex;
  color: #fff;
  font-size: 16px;
  background-color: #0A507A;
  border-radius: 30px;
  padding-inline: 19px;
  padding-block: 9px;
  align-items: center;
  flex-direction: row;
}
.navigation__link-phone img {
  margin-inline-end: 7px;
  inline-size: 18px;
  block-size: 19px;
}

.menu {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  gap: 33px;
}
.menu__link {
  color: #0A507A;
  font-weight: 700;
  font-size: 16px;
  gap: 20px;
}

.content {
  flex: 1 1 auto;
}

.conteiner {
  padding-inline-start: 90px;
  padding-inline-end: 90px;
}

.block1 {
  inline-size: 100%;
  block-size: 100%;
  background: url(../img/background1.webp) center/cover no-repeat;
  min-block-size: 100vh;
}

.true-title {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.title1 {
  inline-size: 100%;
  position: relative;
  z-index: -1;
  inset-block-start: 145px;
}

.background {
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  content: "";
  z-index: 5;
}

.block1-subtitle {
  font-size: 16px;
  font-weight: 700;
  background-color: #2B2A29;
  color: #fff;
  inline-size: 170px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  content: "";
  inset-block-start: 163px;
  inset-inline-end: 10px;
  padding-inline: 6px;
  padding-block: 6px;
}

.conteiner-boxs {
  display: flex;
  justify-content: space-between;
  position: relative;
  content: "";
  inset-block-start: 470px;
  margin-block-start: -340px;
}

.box-one {
  inline-size: 390px;
  block-size: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  position: relative;
  content: "";
  inset-block-start: 190px;
  inset-inline-end: 13px;
}
.box-one__quote {
  padding-inline: 17px;
  padding-block: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: #0A507A;
  border: 2px solid #0A507A;
  border-radius: 30px;
  block-size: 48px;
}

.box-two {
  inline-size: 318px;
  block-size: 390px;
  background-color: #FFFFFF;
  padding-inline: 17px;
  padding-block: 17px;
  margin-block-end: 103px;
  border-radius: 9px;
}
.box-two__title {
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  margin-block-start: 22px;
}
.box-two__time {
  font-size: 25px;
  font-weight: 800;
  line-height: 1.3;
}
.box-two__subtitle {
  display: block;
  color: #2B2A29;
  inline-size: 100px;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  margin-block-start: 10px;
  text-decoration: underline;
}
.box-two__image {
  inline-size: 100%;
  block-size: 190px;
  margin-block-end: 50px;
  margin-block-start: 24px;
}

.conteiner-buttons {
  display: flex;
  justify-content: space-between;
  padding-block-end: 500px;
  position: relative;
  content: "";
  inset-block-start: 443px;
}

.social-network {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-start;
}
.social-network img {
  inline-size: 50px;
  block-size: 50px;
}

.butons {
  inline-size: 450px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  block-size: 52px;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.button1 {
  inline-size: 167px;
  background-color: #2B2A29;
  color: #fff;
  border-radius: 30px;
  padding-inline: 10px;
  padding-block: 10px;
}

.button2 {
  inline-size: 167px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #2B2A29;
  border: 1px solid #2B2A29;
  border-radius: 30px;
  padding-inline-start: 5px;
  padding-inline-end: 7px;
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.block2 {
  inline-size: 100%;
  block-size: 100%;
}

.title-block2 {
  font-size: 62px;
  font-weight: 800;
  margin-block-start: 150px;
  margin-block-end: 150px;
}

.conteiner-text {
  inline-size: 900px;
}

.content-block2 {
  display: flex;
  justify-content: space-between;
  margin-block-end: 150px;
  gap: 300px;
}
.content-block2__cubtitle {
  font-size: 20px;
  font-weight: 700;
  margin-block-end: 20px;
}
.content-block2__title {
  font-size: 62px;
  font-weight: 800;
  margin-block-end: 100px;
}
.content-block2 .quote-box {
  margin-block-end: 330px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.content-block2 .quote-box__quote {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #0A507A;
  border-radius: 30px;
  border: 1px solid #0A507A;
  padding-inline: 10px;
  padding-block: 10px;
}
.content-block2__image {
  inline-size: 100%;
  block-size: 1000px;
}

.content-block2__activities {
  inline-size: 167px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  padding-inline-start: 5px;
  padding-inline-end: 7px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  position: absolute;
  content: "";
  inset-block-start: 900px;
  margin-inline-end: 50px;
}

.conteiner-images {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.text-box__text {
  font-size: 16px;
  font-weight: 600;
  margin-block-end: 20px;
}
.text-box__text:last-child {
  margin-block-end: 150px;
}

.block2-top__cubtitle {
  font-size: 20px;
  font-weight: 700;
  margin-block-end: 20px;
}
.block2-top__title {
  font-size: 64px;
  font-weight: 800;
  margin-block-end: 100px;
  text-transform: uppercase;
}

.block2-midle__text {
  font-size: 16px;
  font-weight: 600;
}
.block2-midle__button {
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  inline-size: 167px;
  background-color: #2B2A29;
  color: #fff;
  border-radius: 30px;
  padding-inline: 10px;
  padding-block: 10px;
}

.block2-circules {
  display: flex;
}
.block2-circules__circle {
  inline-size: 100%;
  block-size: 100%;
  border: 1px solid #2B2A29;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}