@import url(nullstyle.css);
@import url(https://fonts.googleapis.com/css?family=Rethink+Sans:regular,600,700,800&display=swap);
body {
  font-family: "Rethink Sans", serif;
  line-height: 1.3;
}

.wrapper {
  overflow: hidden;
  min-block-size: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  inline-size: 100%;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  margin-block-start: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.burger {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-inline-size: 1500px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.link-phone {
  inline-size: 187px;
  block-size: 46px;
  display: flex;
  color: #fff;
  font-size: 16px;
  background-color: #0A507A;
  border-radius: 30px;
  padding-inline: 19px;
  padding-block: 9px;
  align-items: center;
  flex-direction: row;
  z-index: 9;
}
.link-phone img {
  margin-inline-end: 7px;
  inline-size: 18px;
  block-size: 19px;
}

.menu {
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.menu__link {
  color: #0A507A;
  font-weight: 700;
  font-size: 20px;
  gap: 20px;
}

.content {
  flex: 1 1 auto;
}

.conteiner {
  max-inline-size: 1700px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.block1 {
  inline-size: 100%;
  block-size: 100%;
  background: url(../img/background1.webp) center/cover no-repeat;
  min-block-size: 100vh;
}

.true-title {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.title1 {
  inline-size: 100%;
  position: relative;
  z-index: -1;
  inset-block-start: 177px;
}

.background {
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  content: "";
  z-index: 5;
}

.block1-subtitle {
  inline-size: 200px;
  font-size: 20px;
  font-weight: 700;
  background-color: #2B2A29;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  margin-inline: 10px;
  margin-block: 10px;
  position: relative;
  content: "";
  inset-block-start: 193px;
  inset-inline-end: 10px;
  padding-inline: 6px;
  padding-block: 6px;
}

.conteiner-boxs {
  display: flex;
  justify-content: space-between;
  position: relative;
  content: "";
  inset-block-start: 470px;
  margin-block-start: -340px;
}

.box-one {
  inline-size: 500px;
  block-size: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  margin-block-start: 230px;
}
.box-one__quote {
  padding-inline: 15px;
  padding-block: 5px;
  font-size: 26px;
  font-weight: 700;
  color: #0A507A;
  border: 2px solid #0A507A;
  border-radius: 30px;
  block-size: 48px;
}

.box-two {
  inline-size: 392px;
  min-block-size: 385px;
  background-color: #FFFFFF;
  padding-inline: 17px;
  padding-block: 17px;
  margin-block-end: 103px;
  border-radius: 9px;
}
.box-two__title {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  margin-block-start: 22px;
}
.box-two__time {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.3;
  display: flex;
  flex-wrap: wrap;
}
.box-two__subtitle {
  display: block;
  color: #2B2A29;
  inline-size: 100px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  margin-block-start: 10px;
  margin-block-end: 30px;
  text-decoration: underline;
}
.box-two__image {
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.conteiner-buttons {
  display: flex;
  justify-content: space-between;
  padding-block-end: 500px;
  position: relative;
  content: "";
  inset-block-start: 443px;
}

.social-network {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.social-network img {
  inline-size: 50px;
  block-size: 50px;
}

.buttons {
  inline-size: 450px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  block-size: 52px;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.buttons__button1 {
  inline-size: 200px;
  font-size: 32px;
  background-color: #2B2A29;
  color: #fff;
  border-radius: 30px;
  padding-inline: 10px;
  padding-block: 10px;
}
.buttons__button2 {
  inline-size: 200px;
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #2B2A29;
  border: 1px solid #2B2A29;
  border-radius: 30px;
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.block2 {
  inline-size: 100%;
  block-size: 100%;
}

.title-block2 {
  max-inline-size: 1150px;
  font-size: 64px;
  font-weight: 800;
  margin-block-start: 150px;
  margin-block-end: 150px;
  text-align: left;
}

.conteiner-text {
  inline-size: 560px;
}

.content-block2 {
  display: flex;
  justify-content: space-between;
  gap: 0 150px;
  margin-block-end: 150px;
}
.content-block2__cubtitle {
  font-size: 20px;
  font-weight: 700;
  margin-block-end: 20px;
}
.content-block2__title {
  font-size: 64px;
  font-weight: 800;
  margin-block-end: 100px;
}
.content-block2 .quote-box {
  inline-size: 560px;
  margin-block-end: 330px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.content-block2 .quote-box__quote {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #0A507A;
  border-radius: 30px;
  border: 1px solid #0A507A;
  padding-inline: 10px;
  padding-block: 10px;
}
.content-block2__image {
  inline-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.content-block2__activities {
  inline-size: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  padding-block-start: 10px;
  padding-block-end: 10px;
  position: absolute;
  content: "";
  inset-block-end: 100px;
  margin-inline-end: 50px;
}

.conteiner-images {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  position: relative;
}

.text-box__text {
  font-size: 16px;
  font-weight: 600;
  margin-block-start: 20px;
}

.text-box:last-child {
  margin: 0;
}

.block2-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-block-end: 100px;
  min-block-size: 224px;
}

.block2-top {
  inline-size: 850px;
}
.block2-top__cubtitle {
  font-size: 20px;
  font-weight: 700;
  margin-block-end: 20px;
}
.block2-top__title {
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
}

.block2-midle {
  inline-size: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block2-midle__text {
  font-size: 16px;
  font-weight: 600;
  margin-block-end: 30px;
}
.block2-midle__button {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  inline-size: 200px;
  background-color: #2B2A29;
  color: #fff;
  border-radius: 30px;
  padding-inline: 10px;
  padding-block: 10px;
  align-self: start;
}

.block2-circules {
  display: flex;
}
.block2-circules__circle {
  font-style: 26px;
  font-weight: 700;
  inline-size: 100%;
  block-size: 100%;
  border: 1px solid #2B2A29;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 100px;
}

.block3 {
  inline-size: 100%;
  block-size: 100%;
}
.block3__image {
  inline-size: 100%;
}

.block4 {
  inline-size: 100%;
  block-size: 100%;
}

.content-block4 {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.content-block4 .block4-text {
  margin-block-start: 150px;
  margin-block-end: 100px;
  inline-size: 678px;
}
.content-block4 .block4-text__cubtitle {
  font-size: 20px;
  font-weight: 700;
}
.content-block4 .block4-text__title {
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
}

.images {
  display: flex;
  padding-block-end: 150px;
  gap: 20px;
}
.images__grup:nth-child(even) {
  margin-block-start: 94px;
}
.images__img {
  inline-size: 100%;
}
.images__text {
  font-size: 16px;
  font-weight: 600;
  margin-block-start: 20px;
  display: flex;
  align-items: end;
}
.images__text span {
  display: block;
  margin-block-start: 20px;
  display: flex;
}
.images__text span::before {
  content: "/";
}

.footer {
  inline-size: 100%;
  block-size: 100%;
  background-color: #2B2A29;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  padding-block-start: 100px;
}
.footer__title {
  font-size: 64px;
  font-weight: 800;
  color: #fff;
}
.footer__img {
  inline-size: 125px;
  block-size: 125px;
}
.footer__conteiner {
  inline-size: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-inline: auto;
}
.footer .footer-columns {
  display: flex;
}
.footer .footer-columns__group {
  inline-size: 270px;
  display: flex;
  flex-direction: column;
}
.footer .footer-columns__cubtitle {
  font-size: 20px;
  font-weight: 700;
  margin-block-start: 20px;
  color: #fff;
}
.footer .footer-columns__text {
  font-size: 16px;
  font-weight: 600;
  margin-block-start: 20px;
  color: #fff;
}
.footer .bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-block-end: 100px;
}
.footer .bottom-box__social-network {
  inline-size: 308px;
  display: flex;
  justify-content: space-between;
  margin-block-start: 59px;
}
.footer .bottom-box__social-network ul {
  display: flex;
  gap: 20px;
}
.footer .bottom-box .bottom-txt {
  display: flex;
  gap: 40px;
}
.footer .bottom-box .bottom-txt__item {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

@media (max-width: 1280px) {
  .content-block2 {
    display: flex;
    flex-wrap: wrap;
  }
  .conteiner-text {
    inline-size: 100%;
  }
  .block2-box {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 860px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inline-size: 33px;
    block-size: 22px;
    cursor: pointer;
    z-index: 11;
  }
  .burger span {
    display: block;
    inline-size: 100%;
    block-size: 4px;
    background-color: #000;
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
  }
  .burger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
  .navigation {
    background-color: #9a9ea6;
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    content: "";
    inset-block-start: -100%;
    inset-inline-start: 0;
    transition-duration: 1.5s;
    z-index: 10;
  }
  .navigation .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: auto;
  }
  .navigation.active {
    inset-block-start: 0;
    transition-duration: 1.5s;
  }
  .title1 {
    inset-block-start: 77px;
  }
  .block1-subtitle {
    inset-block-start: 93px;
  }
  .conteiner-boxs {
    display: flex;
    flex-wrap: wrap;
  }
  .conteiner-boxs .box-one {
    order: 1;
    inline-size: 100%;
    margin-block-start: 20px;
    margin-block-end: 250px;
  }
  .conteiner-boxs .box-one__quote {
    inline-size: 100%;
  }
  .conteiner-boxs .box-two {
    inline-size: 100%;
    margin-inline: auto;
    margin-block-end: 20px;
  }
  .conteiner-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .conteiner-buttons .buttons {
    margin-block-end: 50px;
    display: flex;
    justify-content: flex-start;
  }
  .title-block2 {
    font-size: 30px;
    margin-block-start: 30px;
    margin-block-end: 30px;
  }
  .content-block2__cubtitle {
    font-size: 16px;
  }
  .content-block2__title {
    font-size: 25px;
    margin-block-end: 30px;
  }
  .content-block2 .quote-box {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    margin-block-end: 50px;
  }
  .content-block2 .quote-box__quote {
    font-size: 16px;
  }
  .content-block2 .text-box__text {
    font-size: 16px;
  }
  .block2-top__cubtitle {
    font-size: 16px;
  }
  .block2-top__title {
    font-size: 30px;
  }
  .content-block2__activities {
    inline-size: 100px;
    font-size: 20px;
  }
  .block2-circules__circle {
    font-size: 10px;
    text-align: center;
  }
}
@media (max-width: 426px) {
  .box-one__quote {
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .buttons {
    inline-size: 100%;
  }
  .buttons__button1 {
    inline-size: 100%;
    font-size: 20px;
  }
  .buttons__button2 {
    inline-size: 100%;
    font-size: 20px;
  }
  .social-network {
    margin-block-start: 50px;
  }
  .block1-subtitle {
    font-size: 16px;
  }
  .box-two {
    block-size: 100%;
  }
  .box-two__title {
    font-size: 20px;
  }
  .box-two__time {
    font-size: 20px;
  }
  .box-two__subtitle {
    font-size: 13px;
  }
  .title-block2 {
    font-size: 20px;
  }
}